<template>
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md p-8 m-8">
    <p class="text-xl font-medium text-black">Tailwind</p>
    <p class="text-purple-900 text-lg">Tailwind with Nuxt.JS!</p>
  </div>
</template>
